@charset "utf-8";
/* CSS Document */

/* LAB 3 CSS */
body
{
	background-color:#003366;
}

#wrapper
{
	width: 80%;
	background-color: #FFFFCC;
	margin: 0 auto;
	min-width: 960px;
	box-shadow: 5px 5px 5px #000033;
}

header
{
	height: 100px;
	margin-bottom: 0;
	padding: 10px;
	background:url("img/primelogo.gif");
	background-position: center;
	background-repeat: no-repeat;
}

h1
{
	background-color: #FFFFCC;
	font-weight: bold;
	color: green;
}

h2
{
	background-color: #FFFFCC;
	font-weight: bold;
	color: green;
}

nav
{
	padding-left: 20px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 20px;
	font-weight: bold;
	float: left;
	width: 160px;
}

nav ul
{
	list-style-type: none;
}

nav a:link {
    text-decoration: none;
	color:#003366;
}

nav a:visited {
    text-decoration: none;
	color:#330000;
}

nav a:hover 
{
	color:#006600;
}

dd
{
	font-style: italic;
	font-size: .90em;
	line-height: 200%;
}

#content
{
	background-color: #FFFFCC;
	overflow: auto;
	color: green;
}

#content img
{
	float: left;
	padding-right: 25px;
}

footer
{
	padding: 20px;
	font-size: 75%;
	font-style: italic;
	margin-left: 190px;
}

footer a:link 
{
	color:#003366;
}

footer a:visited 
{
	color:#330000;
}

footer a:hover 
{
	color:#006600;
}