@charset "utf-8";
/* CSS Document */

/* LAB 3 CSS */
body
{
	background-color:#FFFFFF;
	background-image: url("img/ptrbackground.jpg");
	font-family: "Arial", "Helvetica", Sans-serif;
}

#wrapper
{
	width: 80%;
	background-color:#90C7E3;
	margin: 0 auto;
	min-width: 960px;
	box-shadow: 5px 5px 5px #000033;
}

header
{
	background:#000033 url("img/sunset.jpg") right no-repeat;
	color:#0;
}

nav
{
	padding-left: 20px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 20px;
	font-weight: bold;
	float: left;
	width: 160px;
}

nav ul
{
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
}

h1
{
	margin-bottom: 0;
	padding: 10px;
	font-family: "Times New Roman", "Georgia", serif;
}

h2
{
	color:#3399CC;
	font-family: "Times New Roman", "Georgia", serif;
	text-shadow: 1px 1px 1px #ccc;
}

h3
{
	color: #000033;
	font-family: "Times New Roman", "Georgia", serif;
}

dt
{
	color:#000033;
}

#content ul
{
	list-style-image: url('img/marker.gif');
	list-style-position: inside;
}

#content
{
	padding-top: 1px;
	padding-left: 30px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-color:#FFFFFF;
	margin-left: 190px;
}

#content img
{
	float: left;
	padding-right: 20px;
}

#contact
{
	font-size: 90%;
}

.resort
{
	color:#5C7FA3;
	font-weight: bold;
}

footer
{
	padding: 20px;
	font-size: 75%;
	font-style: italic;
	font-family: "Times New Roman", "Georgia", "Times", serif;
	margin-left: 190px;
	background-color: #FFFFFF;
}

nav a:link {
    text-decoration: none;
	color:#000033;
}

nav a:visited {
    text-decoration: none;
	color:#344873;
}

nav a:hover 
{
	color:#FFFFFF;
}

nav a:active {
    text-decoration: none;
}

table
{
    border: 1px solid blue;
	border-spacing: 0;
	width: 80%;
}

th, td
{
	padding: 5px;
    border: 1px solid blue;
}

.text
{
	text-align: left;
}

tr:nth-of-type(even)
{
	background-color: #F5FAFC
}

label
{
	float: left;
	display: block;
	text-align: right;
	width: 120px;
	padding-right: 10px;
}

input
{
	display: block;
	margin-bottom: 20px;
}

textarea
{
	display: block;
	margin-bottom: 20px;
}

header, hgroup, nav, footer, figure, figcaption, aside, article, section
{
	display: block;
}

#mobile
	{
		display: none;
	}
	
	#desktop
	{
		display: inline;
	}
	
img
{
	max-width: 100%;
	height: auto;
}

@media only screen and (max-width: 768px)
{
	body
	{
		margin: 0;
	}
	
	#wrapper
	{
		min-width: 0;
		width: auto;
	}
	
	#content
	{
		margin-left: 0;
	}
	
	nav
	{
		float: none;
		width: auto;
		padding: 0;
	}
	
	nav ul
	{
		text-align: center;
	}
	
	nav li
	{
		display: inline;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: .75em;
		padding-right: .75em;
	}
	
	footer
	{
		margin-left: 0;
	}
}

@media only screen and (max-width: 480px)
{
	body
	{
		margin: 0;
	}
	
	#wrapper
	{
		min-width: 0;
		width: auto;
		margin: 0;
	}
	
	#content
	{
		margin: 0;
		padding-top: .1em;
		padding-bottom: .1em;
		padding-left: 1em;
		padding-right: 1em;
		font-size: 90%;
	}
	
	h1
	{
		margin: 0;
		font-size: 1.5em;
		padding-left: .3em;
	}
	
	nav ul
	{
		padding: 0;
	}
	
	nav li
	{
		display: block;
		margin: 0;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: #330000;
	}
	nav a
	{
		display: block;
	}
	
	#content img
	{
		float: none;
		padding: 0;
		margin: .1em;
	}
	
	#content ul
	{
		list-style-position: outside;
	}
	
	#mobile
	{
		display: inline;
	}
	
	#desktop
	{
		display: none;
	}
}
